.navbar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(74, 74, 74);
    color: white;
    font-family: 'Segoe UI';
    display: inline-flex;
}

.navbarName {
    font-family: 'Lucida Handwriting';
    font-size: 36px;
    height: 70px;
    margin-left: 10%;
}

.navbarNameText {
    margin-top: 12px;

}

.navbarContent {
    height: 70px;
    position: absolute;
    transform: translatex(-50%);
    display: flex;
    left: 50%;
}

.navbarItem {
    font-size: 22px;
    margin: auto;
    padding: 0px 35px;
}

.navbarLink:hover {
    font-size: 30px;
}